.create-form {
    text-align: center;
}

.create-form button {
    margin-top: 10px;
}

.role-selection {
    padding-top : 10px;
}

.role-selection i {
    display: block;
}

.btn {
    padding: 5px;
}