<p-fileUpload #uploader name="files[]"
              (onUpload)="onUpload($event)" customUpload="true"
              [accept]="'.pdf'"
              (uploadHandler)="fileUpload($event)">
</p-fileUpload>
<mat-form-field class="full-width">
  <input matInput [(ngModel)]="name" [placeholder]="'document.title' | translate" type="text">
</mat-form-field>

<mat-form-field class="full-width">
  <input [(ngModel)]="text" matInput [placeholder]="'document.description' | translate" type="text">
</mat-form-field>

<mat-checkbox class="example-margin" [(ngModel)]="pinned">Pinned</mat-checkbox>

<mat-form-field>
  <mat-select placeholder="Roles" [(ngModel)]="selectedRoles" multiple>
    <mat-option *ngFor="let role of roles" [value]="role.role">{{role.label}}</mat-option>
  </mat-select>
</mat-form-field>

