<div class="documents">
    <div class="header">
        <h4>{{document?.name}}</h4>
        <a *ngIf="deleteAction" (click)="deleteDocument()">
            <mat-icon>delete</mat-icon>
        </a>
        <a *ngIf="pinAction || unpinAction" (click)="togglePin()">
            <mat-icon>{{pinIcon}}</mat-icon>
        </a>
    </div>
    <ng-container *ngIf="pdfSafeLink">
        <iframe class="document" [src]="pdfSafeLink" type="application/pdf" height="500px" width="100%"
                webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </ng-container>
</div>

