<div>
    <h4>{{userInformation.mainContact.name}} {{userInformation.mainContact.surname}}</h4>
    <div class="row">
        <div class="col-lg-4">
            Meno: <i>{{userInformation.mainContact.name}}</i>
        </div>
        <div class="col-lg-4">
            Priezvisko: <i>{{userInformation.mainContact.surname}}</i>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            Email: <i><a [href]="'mailto:'+ userInformation.mainContact.email">
            {{userInformation.mainContact.email}}</a></i>
        </div>
        <div class="col-lg-4">
            Telefón: <i>{{userInformation.mainContact.telephone}}</i>
        </div>
    </div>

    <div class="client-information">
        <button type="button" class="btn btn-success"
                (click)="isCollapsed = !isCollapsed">{{getButtonMessage()}}
        </button>
        <hr>

        <div [collapse]="isCollapsed"
             class="card card-block card-header">
            <div class="form-group">
                <label for="comment">Dodatočné informácie:</label>
                <textarea class="form-control" rows="5" id="comment" [(ngModel)]="userInformation.information"></textarea>
                <button class="btn btn-success" (click)="updateInformation()">Ulož</button>
            </div>
        </div>
    </div>

    <div class="order-section">
        <order [filteredOrders]="orders"></order>
    </div>
</div>