<div class="table-wrapper">
    <div class="loading-wrapper">
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="search">
        <mat-icon class="icon">search</mat-icon>
        <mat-form-field>
            <input matInput #filter floatPlaceholder="never" [placeholder]="'actions.filterMatrices' | translate">
        </mat-form-field>
    </div>

    <div class="table-wrapper">
        <mat-table #table [dataSource]="dataSource"
                   [ngClass]="{'loading':isLoading}"
                   matSort>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'order.id' | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.id}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'order.description' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.text}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="invoice">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'order.invoiceStatus' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <span class="label" [ngClass]="row.invoiceStatusLabel">
                      {{row.invoiceStatusText}}
                    </span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'order.name' | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.mainContact.name}} {{row.mainContact.surname}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'order.price' | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.price}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'order.assigned' | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{ row.assignedTo?.email}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="created">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'order.created' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.createdAt | date:'dd.MM.yyyy HH:mm'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="updated">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'order.updated' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row?.updatedAt | date:'dd.MM.yyyy HH:mm'}}</mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row (click)="onRowClick(row)"
                     [class.selected]="row.id === selectedMatrix?.id"
                     *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>

    <div class="footer">
        <!--<div class="actions">-->
        <!--&lt;!&ndash;<div class="action add" disabled="true">&ndash;&gt;-->
        <!--&lt;!&ndash;<mat-icon>add_circle</mat-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="description">{{'actions.createNew'|translate}}</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--<div *ngIf="selectedMatrix" class="action open"-->
        <!--(click)="openMatrix(matrixService.selectedMatrixProperties)">-->
        <!--<mat-icon>edit</mat-icon>-->
        <!--<span class="description">{{'actions.open' | translate}}</span>-->
        <!--</div>-->

        <!--&lt;!&ndash;<div class="action import" disabled="true">&ndash;&gt;-->
        <!--&lt;!&ndash;<mat-icon>arrow_downward</mat-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="description">{{'actions.import' | translate}}</span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--<div *ngIf="!isFactoryProfile && selectedMatrix && isPhaseTwo" class="action export" (click)="openExportDialog()">-->
        <!--<mat-icon>arrow_upward</mat-icon>-->
        <!--<span class="description">{{'actions.export' | translate}}</span>-->
        <!--</div>-->

        <!--<div *ngIf="selectedMatrix" class="action print" (click)="openPrint()">-->
        <!--<mat-icon>print</mat-icon>-->
        <!--<span class="description">{{'actions.print' | translate}}</span>-->
        <!--</div>-->
        <!--<div *ngIf="isPhaseTwo && selectedMatrix" class="action delete" (click)="openDeleteMatrix()">-->
        <!--<mat-icon>delete</mat-icon>-->
        <!--<span class="description">{{'actions.delete' | translate}}</span>-->
        <!--</div>-->
        <!--</div>-->
        <mat-paginator #paginator
                       [length]="length"
                       [pageIndex]="0"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
</div>

<ng-template #loadingScreen>
    Loading...
</ng-template>
