<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>Kad</b>SOFT</a>
    </div>
    <!-- /.login-logo -->
        <toaster-container [toasterconfig]="toastrConfig"></toaster-container>
        <form (submit)="login()">

            <div class="form-group has-feedback">
                <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" required minlength="8" name="eml" [(ngModel)]="email"
                           #eml="ngModel">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
            </div>

            <div class="form-group has-feedback">
                <mat-form-field class="example-full-width">
                    <input matInput type="password" class="form-control" placeholder="Heslo" required name="passwd"
                           [(ngModel)]="password" #passwd="ngModel"
                           #eml="ngModel">
                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
            </div>


                    <button matButton type="submit" class="login-btn">Sign In</button>
                <!-- /.col -->

        </form>
                    <a href="#">Zabudnute heslo</a><br>


    </div>
    <!-- /.login-box-body -->
<!-- /.login-box -->

