<p-accordion>
    <p-accordionTab header="Filters">
        <div class="col-lg-6">
            <label for="orderStates">Stav objednavky: </label>
            <p-multiSelect id="orderStates" (onChange)="stateFilterChange(orderStateComponent)" [options]="orderStates"
                           [(ngModel)]="selectedOrderStates"></p-multiSelect>
        </div>

        <div class="col-lg-6">
            <label for="invoiceStates">Stav faktury: </label>
            <p-multiSelect id="invoiceStates" (onChange)="stateFilterChange(invoiceStateComponent)"
                           [options]="invoiceStates"
                           [(ngModel)]="selectedInvoiceStates"></p-multiSelect>

        </div>
    </p-accordionTab>
</p-accordion>
