<h3>Administrácia klientov</h3>

<button *ngIf="!!selectedCustomer" class="btn btn-info btn-group-justified" (click)="newClient()">Novy klient</button>
<customer-creation [updateCustomer]="selectedCustomer" (onAdd)="onAdd($event)"></customer-creation>
<table class="table table-bordered table-hover">
    <tbody>
    <tr>
        <th>Email</th>
        <th>Meno</th>
        <th>Adresa</th>
        <th>Mesto</th>
        <th>ICO</th>
        <th>DIC</th>
        <th>Odstrániť</th>
        <th>Upraviť</th>
    </tr>

    <tr *ngFor="let customer of customers">
        <td>{{customer.mainContact?.email}}</td>
        <td>{{customer.mainContact.name + " " + customer.mainContact?.surname}}</td>
        <td><a>{{customer?.mainContact?.city + "," + customer?.mainContact?.country}}</a></td>
        <td>{{customer?.mainContact?.city}}</td>
        <td><a>{{customer?.ico || '-'}}</a></td>
        <td>{{customer?.dic || '-'}}</td>
        <td><span class="remove glyphicon glyphicon-remove-sign" (click)="removeCustomer(customer)"></span></td>
        <td><span class="remove glyphicon glyphicon-wrench" (click)="updateCustomer(customer)"></span></td>
    </tr>
    </tbody>
</table>