<form (ngSubmit)="onSubmit(companyForm)" [formGroup]="companyForm">
    <app-spinner *ngIf="isLoading"></app-spinner>
    <div class="form-group">
        <div>

            <div class="col-lg-6 form-group">
                <label for="mainName">Meno Firmy:</label>
                <input type="text" id="mainName" class="form-control" formControlName="name"/>
            </div>

            <div formGroupName="mainContact">

                <div class="col-lg-6 form-group">
                    <label for="name">Meno:</label>
                    <input type="text" id="name" class="form-control" formControlName="name"/>
                </div>

                <div class="col-lg-6 form-group">
                    <label for="surname">Priezvisko:</label>
                    <input type="text" id="surname" class="form-control" formControlName="surname"/>
                </div>

                <div class="col-lg-6 form-group">
                    <label for="postcode">Poštové smerovacie číslo:</label>
                    <input type="text" id="postcode" class="form-control" formControlName="postcode"/>
                </div>

                <div class="col-lg-6 form-group">
                    <label for="telephone">Telefón:</label>
                    <input type="text" id="telephone" class="form-control" formControlName="telephone"/>
                </div>

                <div class="col-lg-6 form-group">
                    <label for="name">Krajina:</label>
                    <input type="text" id="country" class="form-control" formControlName="country"/>
                </div>

                <div class="col-lg-6 form-group">
                    <label for="companyAccount">Číslo účtu:</label>
                    <input type="text" id="companyAccount" class="form-control" formControlName="accountNumber"/>
                </div>

                <div class="col-lg-6 form-group">
                    <label for="iban">IBAN:</label>
                    <input type="text" id="iban" class="form-control" formControlName="iban"/>
                </div>

                <div class="col-lg-6 form-group">
                    <label for="swift">SWIFT:</label>
                    <input type="text" id="swift" class="form-control" formControlName="swift"/>
                </div>

                <div class="col-lg-6 form-group">
                    <label for="street">Ulica:</label>
                    <input type="text" id="street" class="form-control" formControlName="street"/>
                </div>

                <div class="col-lg-6 form-group">
                    <label for="city">Mesto:</label>
                    <input type="text" id="city" class="form-control" formControlName="city"/>
                </div>

                <div class="col-lg-6 form-group">
                    <label for="companyEmail">Email:</label>
                    <input type="text" id="companyEmail" class="form-control" formControlName="email" email/>
                </div>
            </div>

            <div class="col-lg-6 form-group">
                <label for="ico">ICO:</label>
                <input type="text" id="ico" class="form-control" formControlName="ico"/>
            </div>

            <div class="col-lg-6 form-group">
                <label for="dic">DIC:</label>
                <input type="text" id="dic" class="form-control" formControlName="dic"/>
            </div>
        </div>

        <div class="col-lg-6 form-group">
            <label for="token">BankApi Token:</label>
            <input type="text" id="token" class="form-control" formControlName="bankApiToken"/>
        </div>

        <ng-container *ngIf="company">
            <div class="row">
                <div class="col-lg-6 form-group">
                    <label for="logo">Podpis: </label>
                    <p-fileUpload id="logo" name="logo"
                                  (onUpload)="onUpload($event)" customUpload="true"
                                  (uploadHandler)="pictureUpload($event, 'signature')">
                    </p-fileUpload>

                    <div *ngIf="signatureFile" class="already-uploaded">
                        <div class="item">
                            <a [href]="signatureFile.downloadUrl">
                                {{signatureFile.fileName}}
                            </a>
                            <span class="remove glyphicon glyphicon-remove-sign"
                                  (click)="removeFile(signatureFile)"></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 form-group">
                    <label for="logo">Logo: </label>
                    <p-fileUpload id="logo" name="logo"
                                  (onUpload)="onUpload($event)" customUpload="true"
                                  (uploadHandler)="pictureUpload($event, 'logo')">
                    </p-fileUpload>

                    <div *ngIf="logo" class="already-uploaded">
                        <div class="item">
                            <a [href]="logo.downloadUrl">
                                {{logo.fileName}}
                            </a>
                            <span class="remove glyphicon glyphicon-remove-sign"
                                  (click)="removeFile(logo)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <div class="col-lg-12 form-group">
            <button type="submit" class="full-width btn btn-success" *ngIf="!company" [disabled]="!companyForm.valid">
                Pridaj firmu
            </button>
            <div class="btn-group full-width">
                <button type="submit" class=" col-lg-6 btn btn-warning" *ngIf="company" [disabled]="!companyForm.valid">Uprav
                    firmu
                </button>
                <button class="col-lg-6 btn btn-danger" *ngIf="company" (click)="reset()">
                    Reset
                </button>
            </div>
        </div>

    </div>
</form>