<h3>Administrácia firiem</h3>

<company-creation (onAdd)="onAdd($event)"></company-creation>
<table class="table table-bordered table-hover">
    <tbody>
    <tr>
        <th>Email</th>
        <th>Meno</th>
        <th>Adresa</th>
        <th>Mesto</th>
        <th style="width: 40px">Ucet</th>
        <th>IBAN</th>
        <th>Platca DPH</th>
        <th>Odstrániť</th>
    </tr>

    <tr *ngFor="let company of companies">
        <td>{{company.mainContact?.email}}</td>
        <td>{{company.name}}</td>
        <td><a>{{company?.mainContact?.street}}</a></td>
        <td>{{company?.mainContact?.city}}</td>
        <td><a>{{company?.mainContact?.accountNumber}}</a></td>
        <td>{{company?.mainContact?.iban}}</td>
        <td>
            <p-toggleButton onLabel="Ano" offLabel="Nie" [(ngModel)]="company.taxPayer"></p-toggleButton>
        </td>
        <td><span class="remove glyphicon glyphicon-remove-sign" (click)="removeCompany(company)"></span></td>
    </tr>
    </tbody>
</table>