<ng2-slim-loading-bar [height]="'8px'"></ng2-slim-loading-bar>
<ng-container *ngIf="dataLoaded">
    <h2>Faktúra {{invoice.id}}</h2>

    <a href="{{getHtmlLink()}}"><h4>Zobraz</h4></a>
    <div>Zhotovil: <i><a [routerLink]="[ '/user/' ]">
        {{invoice?.createdBy}}</a></i>
    </div>
    <!--({{invoice?.created | date}})</i>-->

    <h4>
        <span class="label" [ngClass]="getStatusMessage(invoice?.status).label">
		{{getStatusMessage(invoice?.status).text}}
        </span>
    </h4>

    <div class="container">
        <div class="row">
            <button *ngIf="permissions.cancel && invoice.status != 4"
                    (click)="stornoInvoice()" class="col-lg-6 btn btn-danger">
                Storno faktúry
            </button>

            <button *ngIf="permissions.pay"
                    (click)="payInvoice()" class="col-lg-6 btn btn-success">
                Faktura bola zaplatena
            </button>

            <button *ngIf="invoice?.status != 4" (click)="generatePdf()" class="col-lg-6 btn btn-warning">
                Vygeneruj znova pdf
            </button>

            <button *ngIf="invoice?.status != 4" (click)="sentNotificationEmail()" class="col-lg-6 btn btn-warning">
                Odošli notifikačný mail
            </button>
        </div>
    </div>

    <h3>Client:</h3>
    <div class="row">
        <div class="col-lg-6">
            <div class="col-lg-6">
                <i>Meno: </i><a [routerLink]="[ '/user/', invoice.customer.mainContact.id]">{{invoice?.customer?.mainContact.name}}
                {{invoice?.customer?.mainContact.surname}}</a>
            </div>
            <div class="col-lg-6">
                <i>Mail: </i><a [href]="'mailto:'+ invoice?.customer?.mainContact.email">{{invoice?.customer?.mainContact.email}}</a>
            </div>

            <div class="col-lg-6">
                <i>Telefón: </i>{{invoice?.customer?.mainContact.telephone}}
            </div>

        </div>

    </div>

    <h3>Produkty:</h3>
    <div class="products well well-sm" *ngFor="let product of invoice?.invoiceItems">
        <h4>{{product.item.name}}</h4>
        <div>
            <i>Cena: </i><span>{{product.price}}</span>
        </div>
        <div>
            <i>Investor: </i><span>{{product.contractor}}</span>
        </div>
        <div>
            <i>Parcela: </i><span>{{product.parcel}}</span>
        </div>
    </div>

    <h4>Cena:</h4>
    <i>{{invoice.totalPrice | currency:'EUR':false}}</i>

    <div>
    </div>
</ng-container>