<ng2-slim-loading-bar [height]="'8px'"></ng2-slim-loading-bar>
<ng-container *ngIf="invoiceLoaded && permissionLoaded">
    <h2>Faktúra {{invoice.invoiceNumber}}</h2>

    <a href="{{getHtmlLink()}}" target="_blank"><span class="glyphicon glyphicon-eye-open"></span></a>
    <a href="{{getHtmlLink()}}" target="_blank"><span class="glyphicon glyphicon-save"></span></a>
    <div>Zhotovil: <i><a [routerLink]="[ '/user/' ]">
        {{invoice?.createdBy}}</a></i>
    </div>

    <h4>
        <span class="label" [ngClass]="getStatusMessage(invoice?.status).label">
		{{getStatusMessage(invoice?.status).text}}
        </span>
    </h4>

    <p-splitButton label="Vyber akciu" icon="fa-check" [model]="invoiceActions"></p-splitButton>

    <h3>Klient:</h3>
    <div class="row">
        <div class="col-lg-6">
            <div class="col-lg-6">
                <i>Meno: </i><a [routerLink]="[ '/user/', invoice.customer.mainContact.id]">{{invoice?.customer?.mainContact.name}}
                {{invoice?.customer?.mainContact.surname}}</a>
            </div>
            <div class="col-lg-6">
                <i>Mail: </i><a [href]="'mailto:'+ invoice?.customer?.mainContact.email">{{invoice?.customer?.mainContact.email}}</a>
            </div>

            <div class="col-lg-6">
                <i>Telefón: </i>{{invoice?.customer?.mainContact.telephone}}
            </div>

        </div>

    </div>

    <h3>Produkty:</h3>
    <div class="products well well-sm" *ngFor="let product of invoice?.invoiceItems">
        <h4>{{product.item.name}}</h4>
        <div>
            <i>Cena: </i><span>{{product.price}}</span>
        </div>
        <div>
            <i>Investor: </i><span>{{product.contractor}}</span>
        </div>
        <div>
            <i>Parcela: </i><span>{{product.parcel}}</span>
        </div>
    </div>

    <h4>Cena:</h4>
    <i>{{invoice.totalPrice | currency:'EUR':false}}</i>

    <div>
    </div>
</ng-container>