.products{
    margin-top:10px;
}

.remove-mark{
    float:right;
    cursor:pointer;
}

.remove-mark:hover{
    color:red;
}

.dropdown-menu li{
    cursor:pointer;
}

.action {
    display:flex;
    justify-content: center;
}

.checks {
    padding-left: 15px;
}