<ng2-slim-loading-bar [height]="'8px'"></ng2-slim-loading-bar>
<table *ngIf="showList" class="table table-bordered table-responsive table-hover">
    <thead>Faktúry</thead>
    <tbody>
    <tr>
        <th style="width: 10px">#</th>
        <th class="sortable" (click)="orderBy('invoiceNumber')">Číslo</th>
        <th class="sortable" (click)="orderBy('company','name')">Zadal</th>
        <th class="sortable" (click)="orderBy('companyContact','surname')">Klient</th>
        <th class="sortable" (click)="orderBy('totalPrice')">Suma</th>
        <th>položky</th>
        <th class="sortable" (click)="orderBy('type')">Typ</th>
        <th class="sortable" (click)="orderBy('status')">Status</th>
        <th class="sortable" (click)="orderBy('sendByEmail')">Odoslane</th>
        <th>Možnosti</th>
    </tr>

    <tr *ngFor="let invoice of invoices" [routerLink]="[ '/invoice/', invoice.id ]">
        <td>{{invoice.id}}</td>
        <td>{{invoice.invoiceNumber}}</td>
        <td><a>{{invoice.company.name}}</a></td>

        <td><a *ngIf="invoice.customerId; else noLink" [routerLink]="[ '/user/', invoice?.customerId?.id ]">
            {{invoice.customer.mainContact.name}} {{invoice.customer.mainContact.surname}} {{invoice?.customerId?.id}}</a>
            <ng-template #noLink>{{invoice.customer.mainContact.name}} {{invoice.customer.mainContact.surname}}</ng-template>
        </td>
        <td>{{invoice.totalPrice | currency:'eur':true}}</td>
        <td>{{invoice?.invoiceItems?.length}}</td>
        <td>{{invoiceTypes[invoice?.type-1]}}</td>
        <td><span class="label" [ngClass]="getStatusMessage(invoice?.status).label">
                {{getStatusMessage(invoice?.status).text}}
                </span>
        </td>
        <td>{{invoice?.sendByEmail === true ? 'áno' : 'nie'}}</td>
        <td>
            <a (click)="$event.stopPropagation()" [href]="getHtmlLink(invoice)" target="_blank" alt="zobraz">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            <a (click)="$event.stopPropagation()" [href]="getPdfLink(invoice)" target="_blank" alt="stiahni pdf">
                <span class="glyphicon glyphicon-save"></span>
            </a></td>
    </tr>
    </tbody>
</table>


<div class="row">
    <div class="col-md-6 col-md-offset-4">
        <pagination [totalItems]="totalSize" [(ngModel)]="currentPage" [maxSize]="pageSize"
                    class="pagination-sm"
                    [boundaryLinks]="true" [rotate]="false"
                    (numPages)="numPages = $event" (pageChanged)="pageChanged($event)"></pagination>
    </div>
</div>


