.description {
    white-space: nowrap;
}

.sortable {
    cursor: pointer;
}

.sortable:hover {
    color: lightgray;
}

.modal-body {
    margin-top: 20px;
}

td {
    padding: 2px !important;
    text-align: center;
}

.client-link {
    z-index: 99;
}

.table-wrapper {
    /*overflow: auto;*/
}

@media (max-width: 991px) {
    .table-wrapper {
        font-size: 9px;
    }
}

.mat-row:hover {
    background-color: rgba(220, 220, 220, 0.68);
}

.search mat-form-field {
    width: 96%;
}

mat-cell {
    padding: 0px 2px;
    font-size: 12px;
}

.status {
    width: 100%;
    display: block;
}