<ng-container *ngIf="isDuplicateCreation">
    <i class="fa fa-clone" (click)="duplicate()" alt="zduplikovat" aria-hidden="true"></i>
    <h3>{{'order.create' | translate}}</h3>
    <order-creation [duplicate]="true" [order]="order">
    </order-creation>
</ng-container>

<ng-container *ngIf="!isDuplicateCreation && isLoaded">

    <app-spinner *ngIf="isUploading"></app-spinner>

    <h2>Objednavka [{{orderId}}] <i class="fa fa-clone" (click)="duplicate()" alt="zduplikovat" aria-hidden="true"></i>
    </h2>


    <p><span class="attribute">Klient</span><a *ngIf="order?.customerId; else noLink"
                                               [routerLink]="[ '/user/', order?.customerId ]">
        {{order?.mainContact?.name}} {{order?.mainContact?.surname}}</a>
        <ng-template #noLink>{{order?.mainContact?.name}} {{order?.mainContact?.surname}}</ng-template>
    </p>

    <app-stepper (onChange)="changeState($event)" [steps]="states" [activeSteps]="actions"
                 [currentStep]="currentState"></app-stepper>

    <ng-container *ngIf="currentState === 'draft';else detail">
        <app-order-stepper (createEmitter)="toPreparing()" [order]="order"></app-order-stepper>
    </ng-container>

    <ng-template #detail>

        <div class="invoices">
            <h4>Faktury</h4>
            <div [routerLink]="[ '/invoice/', invoice.id ]" class="invoice-item" *ngFor="let invoice of invoices">
                <span>{{invoiceTypes[invoice.type - 1]}}</span>
            </div>
        </div>

        <div class="section">
            <mat-form-field class="full-width">
                <textarea matInput [(ngModel)]='note' placeholder="Poznamka"></textarea>
            </mat-form-field>
        </div>

        <div class="files section">
            <h4>Podklady:</h4>
            <div class="file-upload row">

                <div class="col-lg-12 col-md-12 widget">
                    <p-fileUpload #uploader name="files[]" multiple="multiple"
                                  (onUpload)="onUpload($event)" customUpload="true"
                                  (uploadHandler)="fileUpload($event)">
                    </p-fileUpload>

                    <div *ngIf="files.length > 0" class="already-uploaded">
                        <div class="item" *ngFor="let orderFile of files">
                            <a [href]="orderFile.downloadUrl">
                                {{orderFile.fileName}}
                            </a>
                            <span class="remove glyphicon glyphicon-remove-sign"
                                  (click)="remove(orderFile)"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="profession section">
            <div class="row">
                <div class="col-lg-6 vertical-divider">
                    <h4>Profesie:</h4>
                    <p-selectButton [options]="professions" [(ngModel)]="selectedProfessions"
                                    multiple="multiple"></p-selectButton>
                    <div *ngIf="isAreaShown">
                        <h4>Rozloha:</h4>
                        <input type="number" min="1" class="form-control" [(ngModel)]="area">
                    </div>

                    <ng-container *ngIf="isHeatingSelected">
                        <h4>Jednotkova cena kurenie:</h4>
                        <input pTooltip="4€" type="number" min="1" class="form-control" [(ngModel)]="heatingPrice">
                    </ng-container>


                    <ng-container *ngIf="isVztSelected">
                        <h4>Jednotkova cena vzduchotechnika:</h4>
                        <input type="number" min="1" class="form-control" [(ngModel)]="vztPrice">
                    </ng-container>


                    <ng-container *ngIf="isLightingSelected">
                        <h4>Jednotkova cena osvetlenie:</h4>
                        <input pTooltip="do 250m 40€\ndo 1500m 60€\ndo 2500m 80€\ndo 5000m 120€\n nad 5000m dohodou"
                               type="number" min="1" class="form-control" [(ngModel)]="lightingPrice">
                    </ng-container>

                    <p>Celkove naklady: {{totalCost}}</p>
                </div>


                <div class="product-type">
                    <div class="col-lg-6">
                        <h4>Typ produktu:</h4>
                        <p-selectButton (onChange)="onValueChange(event)" [options]="productTypes"
                                        [(ngModel)]="selectedProductType"></p-selectButton>
                    </div>
                </div>
            </div>
        </div>

        <div class="building-type section">
            <div class="row">
                <div class="col-lg-6">
                    <h4>Typ stavby:</h4>
                    <p-selectButton [options]="buildingTypes"
                                    [(ngModel)]="selectedBuildingType"></p-selectButton>
                </div>
                <div *ngIf="selectedBuildingType > -1" class="col-lg-6">
                    {{buildingInfo}}
                </div>
            </div>
        </div>

        <div class="btn-section">
            <button (click)="updateOrder()" class="btn btn-success"><i class="fa fa-save" ria-hidden="true"></i> Uloz
            </button>
            <button (click)="duplicate()" class="btn btn-success">Zduplikuj</button>
        </div>
        <p>Priradene: <i>{{order?.assignedTo?.email || '-'}}</i></p>

        <!--<ng-container *ngIf="false">-->
        <!--<h4>Administrativne nastroje</h4>-->
        <!--<div class="section">-->
        <!--<h4>Preradenie pouzivatela:</h4>-->
        <!--<div class="btn-group" dropdown>-->
        <!--<button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">-->
        <!--{{selectedUser?.name}} {{selectedUser?.surname}}<span class="caret"></span>-->
        <!--</button>-->
        <!--<button class="btn btn-success" (click)="reassing()">Prirad</button>-->
        <!--<ul *dropdownMenu class="dropdown-menu" role="menu">-->
        <!--<li *ngFor="let user of users" (click)="selectUser(user)" role="menuitem"><a class="dropdown-item">{{user.name}} {{user.surname}}</a></li>-->
        <!--<li class="divider dropdown-divider"></li>-->
        <!--<li role="menuitem" (click)="selectUser(null)"><a class="dropdown-item">Nepriradene</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--</ng-container>-->

    </ng-template>
</ng-container>