<ng2-slim-loading-bar [height]="'8px'"></ng2-slim-loading-bar>

<ng-container *ngIf="!filteredOrders">
    <app-table-panel
            [canCreate]=true
            (onCreate)="toggleForm()"
            (onSearchChange)="search($event)"></app-table-panel>
    <div class="well well-lg" [collapse]="isFormCollapsed">
        <order-creation
                [customer]="customer"
                (invoiceCreatedEmitted)="updateOrderList($event)"></order-creation>
    </div>
</ng-container>

<app-filter [type]="'Order'" [page]="currentPage" [pageSize]="pageSize" [sort]="sort"
            [sortOrientation]="sortOrientation" [filter]="filter"
            [filterType]="filterType" (onUpdate)="update($event)"></app-filter>
<div class="table-wrapper">
    <table class="table table-bordered table-responsive table-hover">
        <caption>Objednávky</caption>
        <tbody>
        <tr>
            <th style="width: 10px">#</th>
            <th class="sortable" (click)="orderBy('orderedBy')">Vytvoril</th>
            <th>Nazov</th>
            <th>Stav</th>
            <th>Faktura</th>
            <th>Klient</th>
            <th class="sortable" (click)="orderBy('price')">Cena</th>
            <th>Priradené</th>
            <th class="sortable" (click)="orderBy('createdAt')">Vytvorene</th>
            <th class="sortable" (click)="orderBy('updatedAt')">Aktualizovane</th>
        </tr>

        <tr *ngFor="let order of orders">
            <td [routerLink]="[ '/order/', order.id ]">{{order?.id}}</td>
            <td [routerLink]="[ '/order/', order.id ]"><a *ngIf="order?.orderedBy?.email; else web"
                                                          [routerLink]="[ '/user/'+order?.orderedBy?.id ]">{{order?.orderedBy?.email}}</a>
            </td>
            <ng-template #web>
                <td>Web</td>
            </ng-template>
            <!--// TODO: resolver and make a user type in the invoice -->
            <td [routerLink]="[ '/order/', order.id ]"><span class="description">{{order?.text}}</span></td>
            <td [routerLink]="[ '/order/', order.id ]">
                <span class="label" [ngClass]="getStatusMessage(order?.state).label">
                {{getStatusMessage(order?.state).text}}
                </span>
            </td>
            <td [routerLink]="[ '/order/', order.id ]"><span class="label"
                                                             [ngClass]="getInvoiceStatusMessage(order.invoices[0]?.status).label">
                {{getInvoiceStatusMessage(order.invoices[0]?.status).text}}
                </span>
            </td>
            <td>

                <a class="description client-link" *ngIf="order.customerId; else noLink"
                   [routerLink]="[ '/user/', order?.customerId ]">
                    {{order.mainContact.name}} {{order.mainContact.surname}}
                </a>
                <ng-template #noLink>
                    <span class="description">{{order.mainContact.name}} {{order.mainContact.surname}}</span>
                </ng-template>
            </td>
            <td [routerLink]="[ '/order/', order.id ]">
                <ng-container *ngIf="order.invoices.length > 0">
                    {{order?.price}}
                </ng-container>
            </td>
            <td [routerLink]="[ '/order/', order.id ]">{{order?.assignedTo?.email || '-'}}</td>
            <td [routerLink]="[ '/order/', order.id ]">{{order?.createdAt | date:'dd.MM.yyyy HH:mm'}}</td>
            <td [routerLink]="[ '/order/', order.id ]">{{order?.updatedAt | date:'dd.MM.yyyy HH:mm'}}</td>
        </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize"
                        class="pagination-sm"
                        [boundaryLinks]="true" [rotate]="false"
                        (numPages)="numPages = $event" (pageChanged)="pageChanged($event)"></pagination>
        </div>
    </div>
</div>