<mat-horizontal-stepper #stepper [linear]="isLinear">
  <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Objednavka</ng-template>
      <app-order-creation-form [order]="order" (createEmitter)="orderCreated($event)"></app-order-creation-form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
      <ng-template matStepLabel>Fakturacne Udaje</ng-template>
      InvoiceCreation
      <invoice-creation [customer]="customer" [invoice]="invoice" (createEmitter)="invoiceCreated($event)"></invoice-creation>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Vyber Mailu</ng-template>
    <app-mail-selector (createEmitter)="emailCreated($event)" (finish)="create()"></app-mail-selector>
  </mat-step>
</mat-horizontal-stepper>

