<md-horizontal-stepper [linear]="isLinear">
  <md-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template mdStepLabel>Objednavka</ng-template>

    </form>
  </md-step>
  <md-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template mdStepLabel>Fakturacne Udaje</ng-template>
      <md-form-field>
        <input mdInput placeholder="Address" formControlName="secondCtrl" required>
      </md-form-field>
      <div>
        <button md-button mdStepperPrevious>Back</button>
        <button md-button mdStepperNext>Next</button>
      </div>
    </form>
  </md-step>
  <md-step>
    <ng-template mdStepLabel>Vyber Mailu</ng-template>
    <app-mail-selector></app-mail-selector>
  </md-step>
</md-horizontal-stepper>

