<p>page {{id}} works!</p>
<table class="table table-bordered table-hover">
    <tbody>
    <tr>
        <th>Email</th>
        <th>Meno</th>
        <th>Priezvisko</th>
        <th>Telefón</th>
        <th>Odstrániť</th>
    </tr>

    <tr *ngFor="let customer of customers" [routerLink]="[ '/user/', customer.id ]">
        <td>{{customer.mainContact.email}}</td>
        <td>{{customer.mainContact.name}}</td>
        <td><a>{{customer.mainContact.surname}}</a></td>
        <td>{{customer.mainContact.telephone}}</td>
        <td><span class="remove glyphicon glyphicon-remove-sign" (click)="remove(customer)"></span></td>
    </tr>
    </tbody>
</table>